<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- This is the default, check your machine.config (C:\Windows\Microsoft.NET\Framework\v4.0.30319\Config\machine.config.comments) -->
  <!--
    <system.diagnostics>
        <assert assertuienabled="true" logfilename="" />
        <performanceCounters filemappingsize="524288" />
        <switches>
            <clear />
        </switches>
        <trace autoflush="false" indentsize="4" useGlobalLock="true">
            <listeners>
                <clear />
                <add initializeData="" type="System.Diagnostics.DefaultTraceListener" name="Default" traceOutputOptions="None">
                    <filter type="" initializeData="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
    -->

  <!-- Change the default: Log to file -->
  
      <!--<system.diagnostics>
        <switches>
            <clear />
        </switches>
        <trace autoflush="true" indentsize="4" useGlobalLock="true">
            <listeners>
                <clear />
              
                <add name="myListener" 
                  type="System.Diagnostics.TextWriterTraceListener" 
                  initializeData="TextWriterOutput.log" />
        
            </listeners>
        </trace>
    </system.diagnostics>-->

  <!-- Change the default: Log to EventLog Application -->
  <!--<system.diagnostics>
        <switches>
            <clear />
        </switches>
        <trace autoflush="true" indentsize="4" useGlobalLock="true">
            <listeners>
                <clear />
              
                <add name="myListener" 
                  type="System.Diagnostics.EventLogTraceListener"
                  initializeData="Application"/>
        
            </listeners>
        </trace>
    </system.diagnostics>-->

  <!-- Change the default: VB -> Log to a Date based filename Current App Path-->
  <!--<system.diagnostics>
        <switches>
            <clear />
        </switches>
        <trace autoflush="true" indentsize="4" useGlobalLock="true">
            <listeners>
                <clear />
              
                <add name="myListener" 
                  type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                  BaseFileName="VBFileLog"
                  LogFileCreationSchedule="Daily"
                  Location="ExecutableDirectory"/>
        
            </listeners>
        </trace>
    </system.diagnostics>-->

  <!-- Change the default: VB -> Log to a SubFolder -->
  
    <!--<system.diagnostics>
        <switches>
            <clear />
        </switches>
        <trace autoflush="true" indentsize="4" useGlobalLock="true">
            <listeners>
                <clear />
              
                <add name="myListener" 
                  type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                  BaseFileName="VBFileLog"
                  LogFileCreationSchedule="Daily"
                  Location="Custom"
                  CustomLocation="SubFolder"/>
        
            </listeners>
        </trace>
    </system.diagnostics>-->

  <!-- Change the default: VB -> Log to a ParentFolder -->
  <!--
    <system.diagnostics>
        <switches>
            <clear />
        </switches>
        <trace autoflush="true" indentsize="4" useGlobalLock="true">
            <listeners>
                <clear />
              
                <add name="myListener" 
                  type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                  BaseFileName="VBFileLog"
                  LogFileCreationSchedule="Daily"
                  Location="Custom"
                  CustomLocation="..\SubFolderForLogging"/>
        
            </listeners>
        </trace>
    </system.diagnostics>-->

  <!-- Default, Filtering only Errors -->
  
    <!--<system.diagnostics>
        <switches>
            <clear />
        </switches>
        <trace autoflush="false" indentsize="4" useGlobalLock="true">
            <listeners>
                <clear />
                <add initializeData="" type="System.Diagnostics.DefaultTraceListener" name="Default" traceOutputOptions="None">
                    <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/>
                </add>
            </listeners>
        </trace>
    </system.diagnostics>-->

  <!-- Console shows everything, errors to log file -->
  
  <!--<system.diagnostics>
    <switches>
      <clear />
    </switches>
    <trace autoflush="true" indentsize="4" useGlobalLock="true">
      <listeners>
        <clear />

        <add initializeData="" type="System.Diagnostics.DefaultTraceListener" name="Default" traceOutputOptions="None">
        </add>

        <add name="myListener"
          type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
          BaseFileName="ErrorsOnly"
          LogFileCreationSchedule="Daily"
          Location="ExecutableDirectory">


          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/>

        </add>

      </listeners>
    </trace>
  </system.diagnostics>-->

  <!-- Custom Trace used in code See Module1.Main() Dim barTs As New System.Diagnostics.TraceSource("Bar") -->
  <system.diagnostics>
    
    <switches>
      <clear />
      
   <!--Switches Value = SourceLevels = Off [Default] (nothing gets out of here), Critical, Error, Warning, Information, Verbose, ActivityTracing, All-->
  
      <add name="barSwitch" value="Information"/>
    </switches>
    
    <sources>  
      
   <!--The switchName is mandatory, because the default SourceLevel = Off and nothing would appear !--> 
  
      <source name="Bar" switchName="barSwitch" >
        <listeners>
          <add 
            name="FileOutput" 
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="BarOutput.log" ></add>
        
          
   <!--Note that the Source and EventId are not empty anymore--> 
  
          <add 
            name="EventLogOutput"
            type="System.Diagnostics.EventLogTraceListener"
            initializeData="VbConsoleApplicationForTestingLogging"></add>
               
        </listeners>
      </source>
    </sources>
  
    
   <!--Trace (even empty) is required for the autoFlush--> 
  
    <trace autoflush="true" indentsize="4" useGlobalLock="true"/>
  
  </system.diagnostics>

<!-- Calling the "Default" TraceSource in code-->
  <!--<system.diagnostics>
    <switches>
      <clear />
    </switches>
    <trace autoflush="true" indentsize="4" useGlobalLock="true">
      <listeners>
        <clear />

        <add name="myListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="TextWriterOutput.log" />

      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>-->

</configuration>